#bulkOdobri {
	color: #000;
	height: auto;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 0.5625rem 1.125rem 0.5625rem 1.8rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 64 64' fill='%23000'%3E%3Cpath d='M41.808 16.158a2.88 2.88 0 0 0-.875.506c-.835.75-9.816 11.136-10.023 11.59-.266.585-.283 1.516-.04 2.093.656 1.55 2.689 2.134 3.995 1.148.467-.353 9.975-11.217 10.204-11.66.628-1.213.037-2.913-1.241-3.574-.471-.244-1.429-.293-2.02-.103m16 0a2.88 2.88 0 0 0-.875.506c-.214.192-5.193 5.845-11.064 12.563-5.872 6.717-10.702 12.205-10.734 12.195-.031-.01-2.746-2.578-6.032-5.707s-6.166-5.818-6.4-5.976c-.536-.363-1.228-.471-1.961-.307-1.546.346-2.418 1.908-1.913 3.428.204.616.387.819 2.785 3.101l1.294 1.231-1.842 2.108c-1.013 1.159-1.875 2.107-1.915 2.106-.041-.002-2.762-2.562-6.048-5.691s-6.166-5.818-6.4-5.976c-1.164-.788-2.929-.333-3.683.95-.413.704-.428 1.766-.033 2.516.202.385 2.045 2.201 7.593 7.479 6.321 6.015 7.396 6.995 7.832 7.144.717.244 1.383.216 2.032-.086.479-.223.92-.68 3.406-3.519 1.571-1.795 2.896-3.263 2.944-3.263.049 0 1.667 1.506 3.597 3.347 2.961 2.824 3.588 3.373 4.018 3.52.721.245 1.385.217 2.037-.086.504-.235 1.591-1.445 12.5-13.912 6.571-7.51 12.026-13.807 12.123-13.994.628-1.213.037-2.913-1.241-3.574-.471-.244-1.429-.293-2.02-.103' fill-rule='evenodd' fill='%23000'/%3E%3C/svg%3E");
}
#bulkOdobri:hover {
	color: #4db8fa;
}

#bulkOdobriWrap {
	position: relative;
	display: inline;
}
#bulkOdobriWrap::before {
	pointer-events: none;
	content: "Upozorenje: sve Pregledane i Nove fakture će odmah biti ODOBRENE bez mogućnosti da unesete poruku. Ova radnja se ne može opozvati.";
	visibility: hidden;
	line-height: 1.3;
	font-size: 0.8rem;
    width: 240px;
    margin-left: -120px;
    top: -80px;
	background-color: #353f47;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	left: 50%;
	opacity: 0;
}
#bulkOdobriWrap:hover::before {
	visibility: visible;
	opacity: 1;
}

#popup {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--bg-default);
	border: 1px solid #5bc999;
	box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 20px;
	display: none;
	min-width: 300px;
}

#popup table, 
#popup th, 
#popup td {
  border: 1px solid rgb(91, 201, 153);
  border-collapse: collapse;
}
#popup td,
#popup th {
	padding: 5px 10px;
	text-align: left;
}
#minimize-btn {
	position: absolute;
    width: auto;
    padding: 8px 10px 8px 30px;
    font-size: 14px;
    color: #000;
    top: -31px;
    line-height: 1;
    background: #5bc999;
    height: 30px;
    right: -1px;
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: 5px center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 24 24' fill='none'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M8 16L12 20M12 20L16 16M12 20V8M4 4H20' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#popup.minimized #minimize-btn {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 24 24' fill='none'%3E%3Cg stroke-width='0'%3E%3C/g%3E%3Cg stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M8 12L12 8M12 8L16 12M12 8V20M4 4H20' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
#popup ul {
	padding: 0;
    list-style: none;
	margin: 5px 0;
}
#popup > div:not(:last-child) {
	margin-bottom: 10px;
}

.nocni_mod .src-components-DataTableButtonBar-__styles-module___tableControlsContainer .src-components-DataTableButtonBar-__styles-module___filterControlsWrapper {
	background-color: #070707;
}
.nocni_mod .src-components-DataTableButtonBar-__styles-module___filterControlsWrapper input {
	background-color: #070707;
	color: #fff;
}
.nocni_mod .ReactTable .-loading, 
.nocni_mod .ReactTable .rt-noData {
    background: #070707;
    color: #fff;
}
.nocni_mod .src-components-PdfViewer-components-NavigationButtons-__styles-module___navigation {
	background: hsl(0deg 0% 0% / 90%);
    -webkit-box-shadow: 0 0 10px 6px hsl(0deg 0% 0% / 90%);
    box-shadow: 0 0 10px 6px hsl(0deg 0% 0% / 90%);
}
.nocni_mod .src-components-PdfViewer-components-NavigationButtons-__styles-module___element {
	color: #fff;
}
.nocni_mod .src-components-HoverMenu-__styles-module___arrowUp:after {
	border-color: #070707; 
}
.nocni_mod .src-components-Button-__styles-module___button,
.nocni_mod .src-components-Button-__styles-module___button[href] {
	
    color: #000;
}
